
.container{
   padding-top: 100px;
    
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
 
}

.top-text {
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
}
.bottom-text {
  text-align: center;
  margin: 10px 0;
  font-size: small;
  
}

.stars {
  text-align: center;
  font-size: 24px;
  color: gold;
  margin: 10px 0;
}